body, html{
	height:100%;
	margin:0;
	font-size:1rem;
	font-family:"Lato", sans-serif;
	font-weight:400;
	line-height:1.8em;
	color:lightgray;
	text-transform: capitalize ;
  }
  
  .intro-image, .packaging-image,.tutorials-image{
	position:relative;
  	opacity:0.70;
  	background-position:center;
  	background-size:cover;
  	background-repeat:no-repeat;
	background-attachment: fixed;
	display: flex;
	justify-content: center;
	align-items: center;

}



/*
colors:

404E4D
63595C
646881
62BEC1
5AD2F4
*/


.intro-text__textbox{
	padding: 2vh 5vh;
	text-align: center;
	background-color:#646881;
}

.packaging_text__textbox{
	padding: 2vh 5vh;
	text-align: center;
	background-color: #63595C	;

}

.footer{
	text-align: center;
	padding-top: 1vh;
	background-color:#404E4D ;
}

.intro-image__text{
	display: flex;
	justify-content: center;
	align-items: center;
}



.copyright{
	display: inline-block;
	text-decoration: none;
	color: lightgray;

}

.packaging-image{
	background-image:url('../img/pexels-karolina-grabowska-4498135.jpg') ;
	height: 50vh;

}
.intro-image{
	background-image: url('../img/main-img.jpg');
	height: 50vh;
	width: auto;

}

.tutorials-image{
	background-image: url("../img/pexels-valeria-boltneva-1123256.jpg");
	height: 50vh;

}

.wrapper a{
	text-decoration: none;
	color: lightgray;

}
.wrapper{
	color: lightgray;
	
}

.footer ul{
	list-style-type: none;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.footer i{
	margin-right: 0.5rem;
	margin-left: 0.5rem;
}

.btn{
	display:inline-block ;
	text-align: center;
	text-transform: uppercase;
	color: lightgray;
	text-decoration: none;
	font-size: 2rem;
	background-color:#111;
	padding:20px;
	opacity: 50%;


}
.btn:hover
{
	transform: scale(1.1);
    opacity: 100%;
	transition: 1s;


}
